<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <style>
        /* Your CSS styles for the login page */
    </style>
</head>
<body>
    <div class="container">
        <h1>Login</h1>
        <form action="login.php" method="post">
            <label for="login-email">Email (Username):</label>
            <input type="email" id="login-email" name="login-email" required>
            <br>
            <label for="login-contact">Password:</label>
            <input type="password" id="login-contact" name="login-contact" required>
            <br>
            <input type="submit" value="Log In">
        </form>
        <p>Don't have an account? <a href="create_account.html">Create one</a></p>
        <a href="car_list.html">Car List</a></p>
        <a href="people_list.html">People List</a></p>
    </div>
</body>
</html>
